<p id="notice"><%= notice %></p>

<h1><%= @question.title %></h1>

<p>
  <%= @question.body %>
</p>

<p><%= @question.votes_count.to_s + " vote".pluralize(@question.votes_count) %></p>
<p>Asked by <em><%= @question.user.username %></em> <%= time_ago_in_words(@question.created_at)%> ago</p>

<% if current_user %>
	<%= link_to 'Edit', edit_question_path(@question) %> |
	<%= link_to 'Vote', vote_question_path(@question), method: :patch %> |
<% end -%>

<%= link_to 'Back', questions_path %>

<hr>

<% if @question.answers.count > 0 %>
	<h2>Answers</h2>
	<% @question.answers.each do |answer| %>
		<p class="answer"><%= answer.body %></p>
		<p>By <em><%= answer.user.username %></em> <%= time_ago_in_words(answer.created_at)%> ago</p>
		<hr>
	<% end -%>
<% else %>
	<p class="no-content">No one has answered this question yet</p>
	<hr>
<% end -%>

<% if current_user %>
	<%= render partial: 'answers/form', locals: {answer: @new_answer, question: @question} %>
<% end -%>