<%= render @question %>

<% if current_user %>
	<%= link_to 'Edit', edit_question_path(@question) %> |
	<% unless current_user_has_voted_on?(@question) %>
		<%= link_to 'Vote', vote_question_path(@question), method: :patch %> |
	<% end -%>
<% end -%>

<%= link_to 'Back', questions_path %>

<hr>

<% if @question.answers.count > 0 %>
	<h2>Answers</h2>
	<%= render @question.answers %>
<% else %>
	<p class="no-content">No one has answered this question yet</p>
	<hr>
<% end -%>

<% if current_user %>
	<%= render partial: 'answers/form', locals: {answer: @new_answer, question: @question} %>
<% end -%>